<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="ExportBlackboxUnit"
            namespace="org.muml.psm.allocation.algorithm.ilp.export">
         <library
               class="org.muml.psm.allocation.algorithm.ilp.export.Export"
               name="Export">
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/ilp/1.0.0">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.muml.psm.allocation.algorithm.strategy">
      <strategy
            class="org.muml.psm.allocation.algorithm.ilp.export.SCIPAllocationComputationStrategy"
            description="ILP-based allocation model generation"
            name="Export  Allocation Problem Model">
      </strategy>
   </extension>

</plugin>
