<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated language -->
      <package
            uri="http://www.fujaba.de/muml/allocation/language/0.1.0"
            class="de.uni_paderborn.fujaba.muml.allocation.language.LanguagePackage"
            genModel="model/language.genmodel"/>
   </extension>

</plugin>
